.*.aux
*.a
*.cma
*.cmi
*.cmo
*.cmx
*.cmxa
*.cmxs
*.glob
*.ml.d
*.ml4.d
*.mli.d
*.mllib.d
*.mlpack.d
*.native
*.o
*.v.d
*.vio
*.vo
.coq-native/
.csdp.cache
.lia.cache
.nia.cache
.nlia.cache
.nra.cache
csdp.cache
lia.cache
nia.cache
nlia.cache
nra.cache

.vscode/

*.vok

*.vos

code/.Makefile.rocq.d

code/Makefile.rocq

code/Makefile.rocq.conf

*.aux

*.bbl

*.bcf

*.blg

*.log

*.out

*.xml

*.gz

*.toc

*.vtc

paper/main.pdf

code/docs/*

notes/notes.pdf

code/theories/mwe.v
